* { margin: 0; padding: 0; box-sizing: border-box; }

:root {
    --sidebar-bg: #1F1E30;
    
    --gradient-primary:linear-gradient(
        135deg,
        #8B5CF6 0%,
        #3B82F6 100%
    );
    --active-link: linear-gradient(
        135deg,
        #8B5CF6 0%,
        #3B82F6 100%
    );
    --main-bg: #242337;

    --light-blue-1: #BEC1DC;
    --light-blue-2: #414063;
    --light-blue-3: #2C2B4C;

    --red-warning: #FB8E8E;
    --hover-pill-color: #232432;

    --elevation-1: #232237;
    --elevation-2: #2D2C45;

    --font-type: 'Poppins', sans-serif;

    --gap: 8px;
    --radius: 8px;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

/* components */
.nav-link {
    display: flex;
    align-items: center;
    gap:var(--gap);
    padding:12px 16px;
    color: var(--light-blue-1);
    border-radius: var(--radius);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.nav-link:hover {
    background: var(--hover-pill-color);
}

.nav-link.active {
    background: var(--active-link);
    color: white;
    border-radius: var(--radius);
}

/* button  */
.btn {
    padding: 10px 16px;
    border-radius: var(--radius);
    background: linear-gradient(135deg, #8B5CF6, #3B82F6);
    color: white;
    border: none;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease-in-out;
}
.btn:hover {
    transform: translateY(-1px);
    box-shadow: 0 2px 20px rgba(59, 130, 246, 0.25);
}
.btn:active {
    background: linear-gradient(135deg, #8256e8, #3677df);
    box-shadow: 0 2px 20px rgba(59, 130, 246, 0.25);
}

.statistic-card {
    background-color: var(--elevation-2);
    padding: 20px;
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    transition: all 0.3s ease-in-out;
}
.statistic-card:hover {
    transform: translateY(-1px);
    box-shadow: 0 2px 20px rgba(59, 130, 246, 0.25);
}
    
.product-img{
    width: 50px;
    height: 50px;
    border-radius: 4px;
    object-fit: cover;
}
.product-name-img-container {
    display: flex;
    align-items: center;
    gap:var(--gap);
}
/* ------------------------------ */

body {
    font-family: var(--font-type);
    background-color: var(--main-bg);
    display: flex;
    margin-left: 250px;
}

/* sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background-color: var(--sidebar-bg);
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    border-right: 2px solid var(--light-blue-3);
}
.sidebar p {
    color: var(--light-blue-1);
    font-size: 0.8rem;
}
.sidebar .logo {
    display: flex;
    align-items: center;
    gap:var(--gap);
    padding:12px 16px;
    margin: 8px 0 20px 0;
    background: linear-gradient(135deg, #8B5CF6, #3B82F6);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
}
.sidebar .logo::after {
    content: '';
    position: absolute;
    width: 250px;
    height: 2px;
    background-color: var(--light-blue-3);
    left: -18px;
    top: 70px;
}
.sidebar .logo i {
    font-size: 1.5rem;
    color: #8B5CF6;;
}
.sidebar .logo h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

.sidebar .main , .sidebar .management , .sidebar .settings {
    margin-top: 4px;
    margin-bottom: 16px;
}
.sidebar .logout {
    position: relative;
    margin-top: 35px;
}
.sidebar .logout::before {
    content: '';
    position: absolute;
    width: 250px;
    height: 2px;
    background-color: var(--light-blue-3);
    left: -18px;
    top: -10px;
}
/* dashboard  */
.dashboard {
    flex: 1;
    display: flex;
    flex-direction: column;
}
/* header  */
header {
    width: 100%;
    height: 80px;
    background-color: var(--main-bg);
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-bottom: 2px solid var(--light-blue-3);
    justify-content: space-between;
}

header h2 {
    color: var(--light-blue-1);
    font-size: 1.4rem;
    font-weight: 600;
}
header .profile {
    display: flex;
    align-items: center;
    gap:var(--gap);
    color: var(--light-blue-1);
}
header .profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}
header .profile .profile-info {
    margin-right: 24px;
}
header .profile h3 {
    font-size: 1rem;
    font-weight: 600;
}
header .profile p {
    font-size: 0.8rem;
}


/* welcome  */
.welcome-section {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.welcome {
    line-height: 1;
}
.welcome h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--light-blue-1);
}
.welcome h3 i {
    background: linear-gradient(135deg, #8B5CF6, #3B82F6);
    background-clip: text; /* standard property for compatibility */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.welcome p {
    color:#535172
}


/* statistics  */
.statistics {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.statistics .statistic-card .card-title {
    display: flex;
    align-items: center;
}

.statistic-card .card-title i {
    font-size: 2rem;
    margin-right: 8px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding-top: 12px;
    padding-bottom: 12px;
}
.statistic-card .card-title.one i{
    color: #8B5CF6;
    background: linear-gradient(135deg, #8a5cf622, #3b83f61e);
}
.statistic-card .card-title.two i {
    color: #10B981;
    background: linear-gradient(135deg, #5cf6d022, #3b83f61e);

}
.statistic-card .card-title.three i {
    color: #FACC15;
    background: linear-gradient(135deg, #facc1522, #f59e0b1e);
}
.statistic-card .card-title.four i {
    color: #FB8E8E;
    background: linear-gradient(135deg, #fb8e8e22, #dc26261e);
}

.statistic-card .card-title div h4 {
    font-size: 1rem;
    font-weight: 600;
    color: var(--light-blue-1);
}
.statistic-card .card-title div p {
    font-size: 0.8rem;
    color: var(--light-blue-1);
}
.statistic-card>p  {
    margin-top: 12px;
    color: var(--light-blue-1);
    font-size: 0.8rem;
}
.statistic-card>p span {
    color: #10B981;
    font-weight: 600;
}

/* canvas  */
.chart {
    margin: 20px;
    padding: 20px;
    background-color: var(--elevation-2);
    border-radius: var(--radius);
    max-width: 700px;
    max-height: 400px;
    transition: all 0.3s ease-in-out;

}
.chart:hover {
    transform: translateY(-1px);
    box-shadow: 0 2px 10px rgba(59, 130, 246, 0.25);
}
.chart-header {
    display: flex;
    justify-content: space-between;

}
.chart-header h3 {
    color: var(--light-blue-1);
}
.chart-header select {
    background-color: var(--elevation-2);
    color: var(--light-blue-1);
    border-radius: 4px;
    padding: 0 4px;
}
canvas {
    
}

/* recent products  */

.recent-products {
    padding: 20px;
}
.recent-products h2 {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--light-blue-1);
    margin-bottom: 20px;
}
.recent-products table {
    width: 100%;
    border-collapse: collapse;
}
.recent-products table th, .recent-products table td {
    padding: 12px 16px;
    text-align: left;
    color: var(--light-blue-1);
}
.recent-products table thead {
    background-color: var(--elevation-2);
}

